<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="/static/js/libs/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"><link>
    <script src="/static/js/libs/bootstrap.min.js"></script>
    <script src="/static/js/chat.js"></script>
    <title>chat</title>
</head>

<body onload="get_current()">
    <a href={{url_for('index')}}>Back to index</a>

    <table width="100%" border="1">
        <tr>
            <td width="30%">
                <div id="currentuser"></div>
                <div id="users"></div>
            </td>
            <td width="70%">
                <div id="boxMessage">
                </div>

                <div>
                    <input type="text" size="200" id="txtMessage">
                </div>

                <div>
                    <button type="button" class="btn btn-primary" onclick="sendMessage()">Send</button>
                </div>

            </td>

        </tr>
    </table>
</body>
</html>