<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>chat</title>
    <script src="/static/js/libs/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"><link>
    <script src="/static/js/libs/bootstrap.js"></script>
    <script src="/static/js/chat.js"></script>
</head>

<body>
    <a href="/logout">Logout</a>
    <table width="100%" border="1">
        <tr>
            <td width="30%">
                <div id=" current">
                <label id="current username"</label>
                    <button type="button" class="btn btn-primary">get all users</button>
                </div>
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary">Primary</button>
</body>
</html>