
{% extends "index.html" %}
{% block content %}
        <table align="center">
            <tr>
                <td>Username</td>
                <td><input type="text" id="username" name="username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
            <tr>
                <td style="padding-bottom:100px" align="center" colspan="2">
                    <button type="button" class="btn btn-primary" href="{{url_for('index')}}"onclick="login()">Login</button>
                </td>
            </tr>

        </table>
    
  
{% endblock %}
