<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>
        users
    </title>
    <link rel="stylesheet" href="styles.css" />
    <script src="/static/js/libs/jquery.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"><link>
    <script src="/static/js/libs/bootstrap.js"></script>

</head>
<body>
    <table>
        <tr>
            <td>
                <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                    <div>
                        <label>username</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div>
                        <label>name</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div>
                        <label>fullname</label>
                        <input type="text" name="fullname" id="fullname">
                    </div>
                    <div>
                        <label>password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="form-action-buttons">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </td>
            <td>
                <table class="list" id="List of Usernames">
                    <thead>
                        <tr>
                            <th>username</th>
                            <th>name</th>
                            <th>fullname</th>
                            <th>password</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </td>
        </tr>

    </table>

    <script src="/static/js/users.js"></script>
</body>
</html>